@import '../../../../theme/web/custom-variables';

.combo-deployment-selection {
    display: flex;
    flex-grow: 1;
    margin: 0px !important;

    .deployment-selection {
        align-items: center;
        height: max-content;

    }
    .mx-image {
            height: $font-size-default;
            margin-right: $spacing-small;
            margin-left: auto;
            float:right;
    }
}