@import "../../../atlas_core/web/_variables.scss";
@import '../../../../theme/web/custom-variables';

.prompting-page-container {
    min-height: -webkit-fill-available;
    display: flex;
    justify-content: center;

    .prompting-container--overview {
        width: 100%;
        max-width: 1200px;
        margin-top: $spacing-large;
        .td {
            border-bottom: none;
        }
    }
}

.pageheader-with-buttons {
    display: flex !important;
    justify-content: space-between;
    align-items: center !important;
    margin-bottom: $spacing-large;
}