@import "../../../atlas_core/web/_variables.scss";
@import '../../../../theme/web/custom-variables';

.prompting-page-container {
    min-height: -webkit-fill-available;
    display: flex;
    justify-content: center;

    .prompting-container--overview {
        width: 100%;
        max-width: 1200px;
        margin-top: $spacing-large;
        .td {
            border-bottom: none;
        }
    }

    .prompting-justify-space-between {
        display: flex !important;
        justify-content: space-between;
        align-items: top !important;

        .prompting-container--column {
            width: 50%;
            max-width: 600px;
            display: flex;
            flex-direction: column;
            margin: $spacing-medium;
        }
    }

    .pageheader-with-buttons {
        display: flex !important;
        justify-content: space-between;
        align-items: center !important;
        margin-bottom: $spacing-large;
    }

    .pageheader-navigation {
        display: flex !important;
        align-items: center !important;
        flex-flow: row !important;
        justify-content: flex-start !important;
    }
}