@import "../../../atlas_core/web/_variables.scss";
@import '../../../../theme/web/custom-variables';

.prompting-page-container {
    min-height: -webkit-fill-available;
    display: flex;
    justify-content: center;

    .prompting-container--overview {
        width: 100%;
        max-width: 1200px;
        margin-top: $spacing-large;
        
        .td {
            border-bottom: none;
        }
        
        .card {
            border-radius: $spacing-medium;
        }
    }

    .prompting-justify-space-between {
        display: flex !important;

        .prompting-container-column {
            margin: $spacing-medium;
            height: 100%;

            &.prompting-container-column--small {
                width: 40%;
            }

            &.prompting-container-column--big {
                width: 60%;
            } 
        }
    }

    .pageheader-with-buttons {
        display: flex !important;
        justify-content: space-between;
        align-items: center;
    }

    .pageheader-navigation {
        display: flex !important;
        align-items: center !important;
        flex-flow: row !important;
        justify-content: flex-start !important;
    }
}


.output-table{
    display: flex;

    .text-test-case {
        min-width: 10%;
        margin-bottom: auto;
    }
    .text-output {
        min-width: 60%;
        margin-bottom: auto;
    }
    .text-token {
        min-width: 10%;
        margin-bottom: auto;
    }
    .text-duration {
        min-width: 10%;
        margin-bottom: auto;
    }
}

output-table.table-header{
    border-bottom: 1px solid $font-color-default;
}