.prompt-library-page{
    width: 95vw;
    height: 95vh;
}

.popup-mid-size{
    width: 60vw;
}


.popup-microflow-settings{
    position: fixed;
    left: unset !important;
    bottom: unset !important;
    top: 120px !important;
    width: 30%;
    right: 5%;
}