@import "../../../atlas_core/web/_variables.scss";
@import '../../../../theme/web/custom-variables';

.prompting-page-container {
    min-height: -webkit-fill-available;
    display: flex;
    justify-content: center;

    .prompting-container--overview {
        width: 80%;
        //max-width: 1200px;
        margin-top: $spacing-large;
        
        .td {
            border-bottom: none;
        }
        
        .card {
            border-radius: $spacing-medium;
        }
    }

    .prompting-justify-space-between {
        display: flex !important;

        .prompting-container-column {
            margin: $spacing-medium;
            height: 100%;

            &.prompting-container-column--small {
                width: 40%;
            }

            &.prompting-container-column--big {
                width: 60%;
            } 
        }
    }

    .pageheader-with-buttons {
        display: flex !important;
        justify-content: space-between;
        align-items: center;
    }

    .pageheader-navigation {
        display: flex !important;
        align-items: center !important;
        flex-flow: row !important;
        justify-content: flex-start !important;
    }
}

.table-header{
    margin-top: $spacing-medium;
    padding-bottom: $spacing-medium;
    border-bottom: 1px solid $table-border-separator-color;
}

.table-header-background{
    padding-top: $spacing-small;
    padding-bottom: $spacing-small;
    padding-left: $spacing-small;
    background-color: $table-border-separator-color;
}

.output-table{
    display: flex;

    .text-test-case {
        min-width: 10%;
        margin-bottom: auto;
    }
    .text-output {
        min-width: 60%;
        margin-bottom: auto;
    }
    .text-token {
        min-width: 10%;
        margin-bottom: auto;
    }
    .text-duration {
        min-width: 10%;
        margin-bottom: auto;
    }
}

.version-table{
    display: flex;

    .text-version {
        width: 10%;
    }
    .text-title {
        width: 35%;
    }
    .text-in-use {
        width: 10%;
    }
    .text-owner {
        width: 20%;
    }
    .text-last-edited {
        width: 20%;
    }
    .delete-icon {
        width: 5%;
        color: $brand-danger;
    }
}

.testcase-table{
    display: flex;
    padding-left: $spacing-small;

    .text-testcase{
        min-width: 95%;
    }
    .delete-icon{
        min-width: 5%;
        color: $brand-danger;
    }
}