@import '../abstracts/custom_variables';

.hide-tooltip {
    .widget-tooltip-arrow-top {
        display: none;
    }
    .widget-tooltip-content {
        display: none;
    }
}

.prompt-tooltip {
    .widget-tooltip-content {
        position: relative;
        z-index: 1000;
        text-align: unset; 
        white-space: break-spaces;
        word-break: break-word;
        background-color: $bg-tooltip;
        //color: white;
    }
}


.prompt-tooltip-w306 {
    .widget-tooltip-content {
        width: 25.5rem;
    }
}
