/*.launch
/deployment/
/packages/
/releases/
/.mendix-cache/
/.classpath
/.project
/modeler-merge-marker
/project-settings.user.json
/javasource/*/proxies/
/javasource/system/
/**/node_modules/
!/javascriptsource/**/node_modules/
/nativemobile/builds/
/genai showcase app.mpr.bak
/genai showcase app.mpr.lock
/vendorlib/temp/
.DS_Store
/.svn/
/mprcontents/mprjournal*
theme-cache/web/theme.compiled.css
theme-cache/web/theme.compiled.css.map
modules/javasource/*/proxies/*
modules/javasource/system/*
