@import '../../../../theme/web/custom-variables';

.btn-test-single {
    height: 32px;
    border-radius: 4px 4px 4px 4px;
    padding: 0 $spacing-medium 0 $spacing-small;
    img {
        height: 20px;
        width: 20px;
        margin-right: 0;
    }
}

.btn-test {
    @extend .btn-test-single;
    border-radius: 4px 0 0 4px;
    
}

.btn-test-all {
    @extend .btn-test-single;
    border-radius: 0 4px 4px 0;
    border-left: 1px solid white;
    padding-right: $spacing-small;
    &:active, &:focus, &:hover {
        border-left: 1px solid white;
    }
    img {
        height: 20px;
        width: 20px;
        margin-right: 0;
    }
}

