@import "../../../datawidgets/web/_export-alert.scss";
@import '../../../../theme/web/custom-variables';


.btn.mx-button {
    &.btn-border-primary { 
        color: $brand-primary;
        border: 1px solid $brand-primary;
        background-color: transparent;

        &.disabled {
            background-color: transparent;
            border: 1px solid $brand-primary;
            cursor: default;
        }

        &:hover {
            background-color: $btn-default-bg-hover;
            border: 1px solid $brand-primary;
        }

        &:hover,
        &:active,
        &:focus {
            color: $brand-primary;
        }
    }
}

.mx-link {
    &.link-bold {
        font-weight: 600;
        line-height: 150%;
    }
}