/*@import '../../../theme/web/custom-variables';

@import "./abstracts/all";
@import "./components/all";
@import "./layouts/all";
@import "./pages/all";
*/

//Temporary reimport of some styling elements
@import '../../../theme/web/custom-variables';

$brand-aws: #EC7211;
$brand-pgvector: #C6D92F;
$brand-mxgenai: #146FF4;
$brand-openai: #0078D4;

.bg-openai{
    background-color: $brand-openai;
}

.bg-aws{
    background-color: $brand-aws !important;
}

.bg-mxgenai{
    background-color: $brand-mxgenai !important;
}

.bg-pgvector{
    background-color: $brand-pgvector !important;
}