/AWSBuilderConfigurator.class
/AbstractRequestHelper.class
/AuthCredentialsProvider.class
/CredentialsProvider.class
/MxLogger.class
/StaticCredentialsProvider.class
/TemporaryCredentialsProvider.class
/Utils.class
