/* Error: Can't find stylesheet to import.
 *   ,
 * 9 | @use "../../themesource/fileuploader/web/main.scss" as module8;
 *   | ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *   '
 *   C:\Users\LiamSommer\Mendix\GenAI Showcase App-human-in-the-loop\deployment\sass\main.scss 9:1  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Can't find stylesheet to import.\a   ,\a 9 | @use \"../../themesource/fileuploader/web/main.scss\" as module8;\a   | ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a   '\a   C:\\Users\\LiamSommer\\Mendix\\GenAI Showcase App-human-in-the-loop\\deployment\\sass\\main.scss 9:1  root stylesheet";
}
