/* Error: Undefined variable.
 *     ,
 * 301 |   padding-top: $size-28;
 *     |                ^^^^^^^^
 *     '
 *   C:\Users\justin.roy.tamaela\Mendix\GenAI Showcase App-agent-details-ui-refactor\themesource\conversationalui\web\abstracts\_helpers.scss 301:16  @forward
 *   C:\Users\justin.roy.tamaela\Mendix\GenAI Showcase App-agent-details-ui-refactor\themesource\conversationalui\web\abstracts\_all.scss 1:1         @use
 *   C:\Users\justin.roy.tamaela\Mendix\GenAI Showcase App-agent-details-ui-refactor\themesource\conversationalui\web\main.scss 4:1                   @use
 *   C:\Users\justin.roy.tamaela\Mendix\GenAI Showcase App-agent-details-ui-refactor\deployment\sass\main.scss 16:1                                   root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a     ,\a 301 |   padding-top: $size-28;\d\a     |                ^^^^^^^^\a     '\a   C:\\Users\\justin.roy.tamaela\\Mendix\\GenAI Showcase App-agent-details-ui-refactor\\themesource\\conversationalui\\web\\abstracts\\_helpers.scss 301:16  @forward\a   C:\\Users\\justin.roy.tamaela\\Mendix\\GenAI Showcase App-agent-details-ui-refactor\\themesource\\conversationalui\\web\\abstracts\\_all.scss 1:1         @use\a   C:\\Users\\justin.roy.tamaela\\Mendix\\GenAI Showcase App-agent-details-ui-refactor\\themesource\\conversationalui\\web\\main.scss 4:1                   @use\a   C:\\Users\\justin.roy.tamaela\\Mendix\\GenAI Showcase App-agent-details-ui-refactor\\deployment\\sass\\main.scss 16:1                                   root stylesheet";
}
