/* Error: Can't find stylesheet to import.
 *   ,
 * 2 | @use '../agent-builder-variables.scss' as *;
 *   | ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *   '
 *   C:\Users\justin.roy.tamaela\Mendix\GenAI Showcase App-agent-details-ui-refactor\themesource\conversationalui\web\components\_datagrid.scss 2:1  @forward
 *   C:\Users\justin.roy.tamaela\Mendix\GenAI Showcase App-agent-details-ui-refactor\themesource\conversationalui\web\components\_all.scss 10:1      @use
 *   C:\Users\justin.roy.tamaela\Mendix\GenAI Showcase App-agent-details-ui-refactor\themesource\conversationalui\web\main.scss 5:1                  @use
 *   C:\Users\justin.roy.tamaela\Mendix\GenAI Showcase App-agent-details-ui-refactor\deployment\sass\main.scss 16:1                                  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Can't find stylesheet to import.\a   ,\a 2 | @use '../agent-builder-variables.scss' as *;\d\a   | ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a   '\a   C:\\Users\\justin.roy.tamaela\\Mendix\\GenAI Showcase App-agent-details-ui-refactor\\themesource\\conversationalui\\web\\components\\_datagrid.scss 2:1  @forward\a   C:\\Users\\justin.roy.tamaela\\Mendix\\GenAI Showcase App-agent-details-ui-refactor\\themesource\\conversationalui\\web\\components\\_all.scss 10:1      @use\a   C:\\Users\\justin.roy.tamaela\\Mendix\\GenAI Showcase App-agent-details-ui-refactor\\themesource\\conversationalui\\web\\main.scss 5:1                  @use\a   C:\\Users\\justin.roy.tamaela\\Mendix\\GenAI Showcase App-agent-details-ui-refactor\\deployment\\sass\\main.scss 16:1                                  root stylesheet";
}
