@import "../../../atlas_core/web/_variables.scss";
@import "../../../../theme/web/custom-variables.scss";

$bg-tooltip: white; // color from figma #0A1324;


//In Use badges
$background-color-in-use: #E1FAE1;
$border-color-in-use: #4FD84F;

$table-border-separator-color: #E7E7E9;