@import "../../themesource/atlas_core/web/_variables.scss";
@import "custom-variables";

$brand-aws: #EC7211;
$brand-pgvector: #C6D92F;
$brand-mxgenai: #146FF4;
$brand-openai: #0078D4;
$light-grey-2: #F2F2F3;
$light-grey-8: #535965;
$light-green-10: #076407;
$dark-purple-10: #2F008C;
$light-purple-7: #8568F8;
$dark-violet-7: #CD59F7;
$light-red-5: #FB4A4C;
$light-yellow-5: #FCC73A;


/* Label Colors */
$label-bg-bedrock: #FFEAC3;
$label-color-bedrock: #A05700;
$label-bg-mxcloudgenai: #DCEEFE;
$label-color-mxcloudgenai: #0006AB;
$label-bg-all: #E2E0FC;
$label-color-all: #2F008C;
$label-bg-pgvector: #E1FAE1;
$label-color-pgvector: #076407;



//Navigation
.layout-atlas .region-sidebar {
  .mx-navigationtree .navbar-inner > ul > li > a img {
    width: 52px;
    padding: 4px 14px;
  }
}

.layout-atlas-responsive,
.layout-atlas-responsive-default {
  .region-sidebar .mx-scrollcontainer-wrapper  > .mx-navigationtree
    .navbar-inner > ul > li > a {
    white-space: normal;
  }
}

/*    Navigation Bar  */
.layout-atlas-responsive-default .region-sidebar .mx-scrollcontainer-wrapper
.mx-navigationtree .navbar-inner > ul > li > a {
  padding: 8px 0;
  margin-top: 2px;
  white-space: normal;
}

//Homepage
.bg-openai {
  background-color: $brand-openai;
}

.bg-aws {
    background-color: $brand-aws !important;
}

.bg-mxgenai {
    background-color: $brand-mxgenai !important;
}

.bg-pgvector {
    background-color: $brand-pgvector !important;
}

.provider-badge {
  .badge {
    > label {
      margin: auto;
      display: -webkit-box;
      word-break: break-all;
      overflow: hidden;
      -webkit-line-clamp: 1;
      line-clamp: 1;
      -webkit-box-orient: vertical;
      text-overflow: ellipsis;
      box-sizing: border-box;
      text-wrap: wrap;
      line-height: normal;
    }
    .mx-image-viewer {
      width: auto;
    }
    .mx-image-viewer-responsive  {
      > img {
      max-height: none;
      max-width: none;
       }
    }
  }
}


//Helpers
.container-border-primary {
  border: 1px solid $brand-primary;
  border-radius: $border-radius-default;
}

.height--85{
  height: 85%;
}

.height--95{
  height: 95%;
}

.display--inline {
  display: inline;
}

.margin-top-medium{
  margin-top: $spacing-medium;
}

.margin-right-xxs{
  margin-right: $spacing-smallest;
}

.inline-link.mx-link {
  padding-left: $spacing-smaller;
  line-height: $line-height-base * 1.25;
}

.card-small.card {
  margin-bottom: $spacing-small;
  padding: $spacing-small;
}

.word-break{
  word-break: break-word; 
}

.line-clamp--4 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  line-clamp: 4; 
  -webkit-box-orient: vertical;
}

.mx-layoutgrid.card-container>.row {
  padding-bottom: 24px;
  
  .col>.card {
    height: 100%;
    margin-bottom: 0px;
    .widget-datagrid{
      margin-right: -24px;
      margin-left: -24px;
    }
  }
}

.container-clickable {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $spacing-smaller $spacing-smaller $spacing-smaller $spacing-small;
    border-radius: $btn-border-radius;

    .btn-wrapper {
        min-width: 5em;
        display: flex;
        justify-content: flex-end;
    }

    .mx-text {
        margin: 0;
        line-height: $line-height-base;
    }

    .btn {
        transition: all 0.2s ease-in-out;
        border: none;
        background-color: transparent;
        color: $font-color-default;
        height: $font-size-small + 2 * $spacing-medium;

        &.btn-hover {
            visibility: hidden;
        }

    }

    transition: all 0.2s ease-in-out;

    &:hover {
        background-color: $btn-default-bg-hover;

        .btn.btn-hover {
            visibility: visible;
        }
    }
}

//Fixes for examples

//ConversationalUI 
.arrow-position {
    position: fixed;
    bottom: 5vh;
    right: 8vw;
}

//SemanticSearchMultiColumn
.card_scroll-to {
    //only needed to use in JS-Action for scrolling to element
}

//Custom tag for the product description
.product-tag {
  .form-control {
    padding: 3px 8px;
    border: none;
    background: transparent;
  }
}

//Anychart in clustering example
.anychart-extension__container {
    .widget-charts-playground .widget-charts-playground-toggle .btn {
      right: unset;
      left: 10px;
    }
    .widget-charts .plot-container .main-svg {
      Background: none !important;
    }
    .legend .bg {
      fill-opacity: 0 !important;
    }
}



/* Landing Page Styling */

/* Grid: defines the columns of the the cards */
.grid-landing-page {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(auto, 327px));
  gap: 16px;
  box-sizing: border-box;
}

/* Card Structure Overview (outer to inner)
 * .card-grey     → Outer wrapper; sets background, left border and shadow
 * .card-inner    → Inner container; handles padding and layout
 * .card-content  → Content wrapper; holds actual content (text, icons, etc.)
 */

.card-inner {
  display: flex;
  width: 321px;
  height: 148px;
  padding: 16px 16px 20px 16px;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
}

.card-content {
  display: flex;
  flex-direction: column;
  //align-items: flex-start;
  gap: 12px;
  align-self: stretch;
}

.card-label-layout {
  display: inline-flex;
  //align-items: flex-start;
}

.container-img-label {
  display: flex;
  align-items: start;
  justify-content: space-between; 
}

.label-icon {
  width: 12px;
  height: 12px;
  flex-shrink: 0; /* icon doesn’t shrink */
}

.card-grey {
  width: 327px;
  height: 148px;
  flex-shrink: 0;
  border-radius: 8px;
  border-left: 8px solid $light-grey-8;
  background: white;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.10), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 1px 3px 0px rgba(0, 0, 0, 0.15);
}

.card-green {
  width: 327px;
  height: 148px;
  flex-shrink: 0;
  border-radius: 8px;
  border-left: 8px solid $light-green-10;
  background: white;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.10), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 1px 3px 0px rgba(0, 0, 0, 0.15);
}

.card-blue {
  width: 327px;
  height: 148px;
  flex-shrink: 0;
  border-radius: 8px;
  border-left: 8px solid $brand-mxgenai;
  background: white;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.10), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 1px 3px 0px rgba(0, 0, 0, 0.15);
}

.card-darkpurple {
  width: 327px;
  height: 148px;
  flex-shrink: 0;
  border-radius: 8px;
  border-left: 8px solid $dark-purple-10;
  background: white;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.10), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 1px 3px 0px rgba(0, 0, 0, 0.15);
}

.card-lightpurple {
  width: 327px;
  height: 148px;
  flex-shrink: 0;
  border-radius: 8px;
  border-left: 8px solid $light-purple-7;
  background: white;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.10), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 1px 3px 0px rgba(0, 0, 0, 0.15);
}

.card-violet {
  width: 327px;
  height: 148px;
  flex-shrink: 0;
  border-radius: 8px;
  border-left: 8px solid $dark-violet-7;
  background: white;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.10), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 1px 3px 0px rgba(0, 0, 0, 0.15);
}

.card-red {
  width: 327px;
  height: 148px;
  flex-shrink: 0;
  border-radius: 8px;
  border-left: 8px solid $light-red-5;
  background: white;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.10), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 1px 3px 0px rgba(0, 0, 0, 0.15);
}

.card-yellow {
  width: 327px;
  height: 148px;
  flex-shrink: 0;
  border-radius: 8px;
  border-left: 8px solid $light-yellow-5;
  background: white;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.10), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 1px 3px 0px rgba(0, 0, 0, 0.15);
}

/* Card Labels */

.card-label-openai {
  display: flex;
  width: auto;
  height: 24px;
  padding: 8px;
  gap: 6px;
  align-items: center;
  border-radius: 9999px;
  background: $light-grey-2;
  font-size: 12px;
}

.card-label-bedrock {
  display: flex;
  width: auto-fit;
  height: 24px;
  padding: 8px;
  gap: 6px;
  align-items: center;
  border-radius: 9999px;
  background: $label-bg-bedrock;
  color: $label-color-bedrock;
  font-size: 12px;
}

.card-label-mxcloudgenai {
  display: flex;
  height: 24px;
  padding: 8px;
  gap: 6px;
  align-items: center;
  border-radius: 9999px;
  background: $label-bg-mxcloudgenai;
  color: $label-color-mxcloudgenai;
  font-size: 12px;
}

.card-label-all {
  display: flex;
  height: 24px;
  padding: 8px;
  gap: 6px;
  align-items: center;
  border-radius: 9999px;
  background: $label-bg-all;
  color: $label-color-all;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%
}


.card-label-pgvector {
  display: flex;
  height: 24px;
  padding: 8px;
  gap: 6px;
  align-items: center;
  border-radius: 9999px;
  background: $label-bg-pgvector;
  color: $label-color-pgvector;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%
}